.section-container {
  .form-container {
    padding: 1rem 0;
    background: #f4f4f4;
    border-bottom: 1px solid $border-color;

    form {
      width: 650px;
      margin: 0 auto;
      @include flex(space-between);

      .option-content,
      .description-content,
      .value-content {
        display: flex;
        flex-direction: column;

        position: relative;

        span {
          padding: 0.3rem 0.5rem 0;
          font-size: 0.8rem;
          color: red;
        }

        .error {
          width: 100%;
          height: 100%;
          content: "";
          position: absolute;
          top: 130%;
          left: 1%;
          border-radius: 5px;
          padding-bottom: 2rem;
        }

        .full {
          width: 150px;
        }
      }

      .description-content {
        width: 55%;
      }

      .option {
        font-size: 1rem;
        outline: none;
        cursor: pointer;
        border: 1px solid $border-color;
        background: white;
        color: grey;
      }

      .description {
        width: 100%;
        border: none;
        font-size: 1rem;
        padding: 0.5rem 0.3rem;
        border-radius: 5px;
        border: 1px solid $border-color;
      }

      .value {
        width: 70px;
        border: 1px solid $border-color;
        font-size: 1rem;
        padding: 0.5rem 0.3rem;
        border-radius: 5px;
      }

      button {
        padding: 0.3rem 0.5rem;
        border-radius: 5px;
        font-size: 1rem;
        cursor: pointer;
        color: #f4f4f4;
        background: rgb(13, 100, 159);
        outline: none;
        height: 37px;
      }
    }
  }

  .display-information {
    width: 1000px;
    margin: 5rem auto 0;
    @include flex(space-between);

    h3 {
      text-transform: uppercase;
      padding-bottom: 1.5rem;
      border-bottom: 1px solid $border-color;
    }

    .in {
      color: rgb(13, 100, 159);
    }
    .ex {
      color: rgb(238, 59, 59);
    }

    .in-ex {
      width: 48%;
    }

    .item-list {
      padding: 0.8rem 0.5rem;
      @include flex(space-between);
      border-bottom: 1px solid $border-color;

      .date {
        color: grey;
        font-size: 0.8rem;
      }

      .actual-value-income {
        color: rgb(13, 100, 159);
      }

      .icon {
        margin-left: 0.5rem;
        padding: 0.1rem 0.2rem;
        font-size: 1.2rem;
        color: red;
        cursor: pointer;
      }

      .actual-value-expense {
        color: rgb(238, 59, 59);
      }
    }
  }
}
